{% extends 'layout.html' %}

{% block content %}
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ post.title }}</h1>
            <p class="card-text">{{ post.content }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'post_edit' pk=post.pk%}" class='btn btn-info mx-2'>Edit</a>
            <a href="{% url 'post_delete' pk=post.pk%}" class='btn btn-danger me-2'>Delete</a>
            <a href="{% url 'post_list' %}" class="btn btn-success">Back to Homepage</a>
        </div>
    </div>
{% endblock content %}