{% extends 'layout.html' %}

{% block content %}
<div class='row justify-content-center'>
    <div class='col-lg-8'>
        <div class="card mt-4">
            <div class="card-body">
                <h1 class="card-title">{{ post.title }}</h1>

                <p class='text-body-secondary'>
                    by {{post.author.username}}
                </p>

                <p class='card-text mt-3'>{{post.content}}</p>
            </div>
            <div class="card-footer d-flex justify-content-between">
                <div>
                    {% if user == post.author %}
                    <a href="{% url 'post_edit' pk=post.pk%}" class='btn btn-info me-2'>Edit</a>
                    <a href="{% url 'post_delete' pk=post.pk%}" class='btn btn-danger'>Delete</a>
                    {% endif %}
                </div>
                <a href="{% url 'post_list' %}" class="btn btn-success">Back to Homepage</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}